@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Slab';
    background-color: #e5e5e5;
}

.red {
    background-color: #ff0000;
    color: #fff;
}
.orange {
    background-color: #ff6f00;
    color: #000;
}
.yellow {
    background-color: yellow;
    color: #000;
}
.green {
    background-color: #2e712a;
    color: #fff;
}
.blue {
    background-image: linear-gradient(rgba(49,55,253,1), rgba(255,0,0,0));
    
    color: #fff;
}
.blue-2 {
    background-color: #3137fd;
    color: white;
}
.purple {
    background-color: #651fff;
    color: #fff;
}
.pink {
    background-color: #f96995;
    color: #000;
}
.black {
    background-color: #000;
    color: #fff;
}