main {
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
    word-wrap: break-word;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#subcription-header {
    display: flex;
    justify-content: space-between;
}

#subcription-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.podcast-link {
    cursor: pointer;
}

.podcast-link:hover {
    text-decoration: underline;
}

.btn {
    background-color: white;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    background: rgb(66, 133, 244);
    color: white !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.add:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media only screen and (max-width: 500px) {
    #subcription-list {
        justify-content: space-evenly;
    }

    .logo {
        width: 100px;
        height: 100px;
    }
}