<app-header />
<main>
  <p>Please find the rss feed for the podcast. Usually you can google search "(podcast name) rss".</p>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="material-textfield">
    <input 
        placeholder=" " 
        type="text" 
        ngModel 
        name="podcastUrl" 
        required>
    <label>Podcast url</label>
    <button class="btn" type="submit"><span class="material-symbols-outlined">
        search
        </span></button>
  </div>
</form>
{{statusMessage.message}}
</main>
