<app-header [color]="color" />
<main>
  <p>Please find the rss feed for the podcast. Usually you can google search "(podcast name) rss".</p>
  <div [class]="statusMessage.color" *ngIf="statusMessage.message.length>0">
    <i class="material-symbols-outlined" *ngIf="statusMessage.color == 'alert alert-danger'">error</i> 
    <i class="material-symbols-outlined" *ngIf="statusMessage.color == 'alert alert-warning'"> search</i> 
    <i class="material-symbols-outlined" *ngIf="statusMessage.color == 'alert alert-success'"> done</i> 
    {{statusMessage.message}}</div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="material-textfield">
    <input 
        placeholder=" " 
        type="text" 
        ngModel 
        name="podcastUrl" 
        required>
    <label>Podcast url</label>
    <button class="btn" type="submit"><span class="material-symbols-outlined">
        search
        </span></button>
  </div>
</form>
</main>
