<app-header [color]="color" />
<section id="podcast-header" [class]="color">
    <section id="feed-info">
      <img [src]="podcast.feed.image" [alt]="podcast.feed.title" *ngIf="podcast.feed.image !==''" class="logo">
      <section id="author">
        <h2 [innerHTML]="podcast.feed.title"></h2>
        <h3><a [href]="podcast.feed.link" target="_blank" rel="noopener noreferrer"
            title="{{podcast.feed.title}} website" [innerHTML]="podcast.feed.author"></a></h3>
      </section>
    </section>
    <p [innerHTML]="podcast.feed.description" id="description"></p>
  </section>
  <article *ngIf="!podcast.feed.link" class="loading-article">
    <div class="rss-loading">
      <div class="loading">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>
  </article>
  <article *ngFor="let item of podcast.items">
    <h4>{{item.title}}</h4>
    <h4>{{formatDate(item.pubDate)}}</h4>
    <p [innerHTML]="item.description"></p>
    <audio controls>
      <source [src]="item.enclosure.link" type="audio/ogg"></audio>
  </article>
  <article *ngIf="podcast.feed.link"><p>Find more episodes on <a [href]="podcast.feed.link" target="_blank" rel="noopener noreferrer">{{podcast.feed.link}}</a></p></article>
